@font-face {
  font-family: 'mapFont';
  src: url('./MapFont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3¡ª5 */
}

@font-face {
  font-family: 'pirates';
  src: url('./PiratesWriters.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3¡ª5 */
}

html, body {
  margin: 0;
  padding: 0;
}

#recommendationMap svg #recommendationMapmapTitleText {
	font-family: mapFont;
	font-weight: 100px;
	font-style: oblique;
	font-size: 200px;
	text-anchor: middle;
}

.countryNameLabel {
	background: rgba(255, 255, 255, 0.8);
  	padding: 0px 5px;
  	border:0;
  	border-radius:15px;
  	box-shadow: 1 0px 0px;
  	text-anchor: start;
  	font-weight: 200;
  	font-family: pirates;
  	font-size: 15px;
}

.countryInfoTooltip {
    background: rgba(127,201,127, 0.8);
    padding: 0px 10px 0px 10px;
    border:3;
    border-color: rgb(179,205,227);
    border-radius:10px;
    box-shadow: 1 0px 0px;
    text-anchor: start;
    font-weight: 200;
    min-width: 135px;
    font-family: pirates;
    font-size: 15px;
}

.localPointInfo {
  display: inline;
  padding: 0px 10px;
  font-family: pirates;
  background: rgba(27,158,119,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.localPointInfo .exploreTitle {
  margin: 10px 0px 2px 0px;
  color: rgb(0,255,127);
  display: inline;
  font-size: 25px;
}

.localPointInfo button {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin:10;
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: rgb(0,255,127);
}

.yelpCompareInfo {
  display: inline;
  padding: 0px 10px;
  font-family: pirates;
  background: rgba(252,141,98,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.yelpCompareInfo .exploreTitle {
  margin: 10px 0px 2px 0px;
  color: rgb(217,95,2);
  display: inline;
  font-size: 25px;
}

.yelpCompareInfo button {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin:10;
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: rgb(217,95,2);
}

.airbnbCompareInfo {
  display: inline;
  padding: 0px 10px;
  font-family: pirates;
  background: rgba(141,160,203,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.airbnbCompareInfo .exploreTitle {
  margin: 10px 0px 2px 0px;
  color: rgb(55,126,184);
  display: inline;
  font-size: 25px;
}

.airbnbCompareInfo button {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin:10;
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: rgb(55,126,184);
}