@font-face {
  font-family: 'mapFont';
  src: url('./MapFont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3¡ª5 */
}

@font-face {
  font-family: 'pirates';
  src: url('./PiratesWriters.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3¡ª5 */
}

html, body {
  margin: 0;
  padding: 0;
}

label.btn.btn-secondary,
label.btn.btn-secondary:focus,
label.btn.btn-secondary:active,
label.btn.btn-secondary.active,
label.btn.btn-secondary.active:focus,
label.btn.btn-secondary.active:active {
    color: rgb(251,128,114);
    border-radius: 10px;
    font-size: 19px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    margin: 5px 5px 2px 5px;
    border-color: rgb(251,128,114) !important;
    box-shadow: none !important;
}

#recommendationMap svg #recommendationMapmapTitleText {
	font-family: mapFont;
	font-weight: 100px;
	font-style: oblique;
	text-anchor: middle;
}

.countryNameLabel {
	background: rgba(255, 255, 255, 0.8);
  	padding: 0px 5px;
  	border:0;
  	border-radius:15px;
  	box-shadow: 1 0px 0px;
  	text-anchor: start;
  	font-weight: 200;
  	font-family: pirates;
  	font-size: 15px;
}

.countryInfoTooltip {
    background: rgba(127,201,127, 0.8);
    padding: 0px 10px 0px 10px;
    border:3;
    border-color: rgb(179,205,227);
    border-radius:10px;
    box-shadow: 1 0px 0px;
    text-anchor: start;
    font-weight: 200;
    min-width: 135px;
    font-family: pirates;
    font-size: 15px;
}

.preferenceInfo {
  display: inline;
  padding: 0px 2px;
  font-family: pirates;
  background: rgba(255,217,47,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.preferenceInfo div label {
  margin: 2px;
  border-radius: 10px;
  background: rgba(0,0,0,0);
}

.preferenceInfo div label:hover{
  background: rgba(127,201,127,0.8);
}

.preferenceInfo div label:active,
.preferenceInfo div label:focus,
.preferenceInfo div .active {
  background: rgba(251,180,174,0.8) !important;
}

.preferenceInfo .preferenceButton {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin:10;
  position: absolute;
  top: 6px;
  right: 5px;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: rgb(152,78,163);
}

.localPointInfo {
  display: inline;
  padding: 0px 10px;
  font-family: pirates;
  background: rgba(27,158,119,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.localPointInfo .exploreTitle {
  margin: 10px 0px 2px 0px;
  color: rgb(0,255,127);
  display: inline;
  font-size: 25px;
}

.localPointInfo p {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin: 0px;
}

.localPointInfo .localPointButton {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin:10;
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: rgb(0,255,127);
}

.localPointInfo .attractionInfo {
  font-size: 18px;
  font-weight: bold;
  margin:2px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(0,255,127);
  background: rgba(255,255,255, 0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}


.yelpCompareInfo {
  display: inline;
  padding: 0px 10px;
  font-family: pirates;
  background: rgba(252,141,98,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.yelpCompareInfo .exploreTitle {
  margin: 10px 0px 2px 0px;
  color: rgb(217,95,2);
  display: inline;
  font-size: 25px;
}

.yelpCompareInfo p {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin: 0px;
}

.yelpCompareInfo .yelpButton {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin:10;
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: rgb(217,95,2);
}

.yelpCompareInfo .restaurantInfo {
  font-size: 18px;
  font-weight: bold;
  margin:2px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(217,95,2);
  background: rgba(255,255,255, 0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.airbnbCompareInfo {
  display: inline;
  padding: 0px 10px;
  font-family: pirates;
  background: rgba(141,160,203,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.airbnbCompareInfo .exploreTitle {
  margin: 10px 0px 2px 0px;
  color: rgb(55,126,184);
  display: inline;
  font-size: 25px;
}

.airbnbCompareInfo p {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin: 0px;
}

.airbnbCompareInfo .airbnbButton {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin:10;
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: rgb(55,126,184);
}

.airbnbCompareInfo .hostInfo {
  font-size: 18px;
  font-weight: bold;
  margin:2px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(55,126,184);
  background: rgba(255,255,255, 0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.attractionToolTip {
    background: rgba(179,205,227, 0.8);
    padding: 0px 10px 0px 10px;
    border:3;
    border-color: rgb(179,205,227);
    border-radius:10px;
    box-shadow: 1 0px 0px;
    text-anchor: start;
    font-weight: 200;
    min-width: 135px;
    font-family: pirates;
    font-size: 15px;
}

.attractionToolTip h4{
  font-size: 18px;
  font-weight: bold;
}

.attractionToolTip p{
  font-size: 12px;
  color: rgb(255,127,0);
}

.restaurantToolTip {
    background: rgba(253,205,172, 0.8);
    padding: 0px 10px 0px 10px;
    border:3;
    border-color: rgb(179,205,227);
    border-radius:10px;
    box-shadow: 1 0px 0px;
    text-anchor: start;
    font-weight: 200;
    min-width: 135px;
    font-family: pirates;
    font-size: 15px;
    width: 200px;
    display: block;
}

.restaurantToolTip h4{
  font-size: 18px;
  font-weight: bold;
}

.restaurantToolTip p{
  font-size: 12px;
  color: rgb(55,126,184);
}


.hostToolTip {
    overflow-wrap: break-word;
    max-width: 500px;
    background: rgba(251,154,153, 0.8);
    padding: 0px 10px 0px 10px;
    border:3;
    border-color: rgb(117,112,179);
    border-radius:10px;
    box-shadow: 1 0px 0px;
    text-anchor: start;
    font-weight: 200;
    min-width: 135px;
    font-family: pirates;
    font-size: 15px;
    display: block;
}

.hostToolTip h4{
  font-size: 18px;
  font-weight: bold;
}

.hostToolTip p{
  display: inline;
  word-wrap: break-word;
  font-size: 12px;
  word-break: break-all;
  color: rgb(127,201,127);
}
